* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }


/* insight */

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .insight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    display: grid;
  }
  .image{
    width: 480px;
    position: relative;
    display: block;
    flex-direction: column;
    height: 596px;
    align-items: center;
  }
  .content{
    position: absolute;
    right: 20px;
    bottom: 80px;
    padding: 20px;
    transform: translateY(20px);
    z-index: 1;
    flex-wrap: wrap;
    top: 40px;
    left: 20px;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }
  .content:hover{
    opacity: 1;
  }
  .content h1{
    font-size: 48px;
    color: white;
    margin-top: 10px;
    font-weight: 600;
  }
  .content p{
    font-size: 21px;
    color: #fff;
    padding: 5rem 0;
    text-align: justify;
  }
  .content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
  }
  .content:hover > *{
    transform: translateY(0px)
  }
  .content a{
    color: white;
    background: orangered;
  }
  .is__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }


  .overlay:before{
    content: "";
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) 0%;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.3s, background 0.3s;
    }
    
    .overlay:hover:before{
    opacity: 0;
    transform: scale(0);
    transition:0.5s ease;
    }
   
   
  

  /* repeatable patterms */
  .btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    border: 1px solid transparent;
    text-align: center;
    transition: .5s ease;
  }
  .btn.bg--red:hover{
    background: #2b2b2b;
    background: 1px solid #ffffff;
    scale: 1.1;
    transition: .5s ease;
  }