 /* INSIGHT */
 
 *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .wrapper ul{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .image{
    width:480px;
    height:596px;
    position: relative;
    display: block;
    flex-direction: row;
  }
  
  .pics{
        display: flex;
        flex-direction: row;
        justify-content: center;
   }

  
  
  /* .content{
    width: 100%;
    height:100%;
    top:60px;
    left:60px;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    padding:20px
  } */
.content{
    position: absolute;
    top: 50px;
    left:50px;
    right:50px;
    bottom:80px;
    background:rgba(0,0,0,0.6);
    text-align: center;
    opacity: 0;
    transition:1s;
    transform: scale(0);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper:hover .content{
    transform: scale(1);
}
.content:hover{
    opacity: 1;
}
.content h1{
    font-size: 30px;
    font-weight: 600;
    color:white;
    margin-bottom: 15px;
}
.content p{
    font-size:10px;
    color:white;
    padding: 4rem 0;
}
.content *{
    transform: translateZ(25px);
    transition:  0.6s;
}
.content:hover *{
    transform: translateZ(0px);
}
.content a{
    color:white;
    background: orangered;
}

  


/* repeatable pattern */
.bn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:.5s ease;
  }
  .bn.bg--orng:hover{
    background:#2b2b2b;
    border:1px solid #ffffff;
    scale:1.1;
    transition:.5s ease;
  }
  

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }



  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  
